<section class="technology-evidence mx-md-5"><article class="technology-evidence__card">
    <header><h3>{{ 'pages.experience.backend.python.title' | translate }}</h3>
      <p [innerHTML]="'pages.experience.backend.python.description' | translate"></p>
    </header>
    <h4>{{ 'pages.experience.backend.python.evidenceTitle' | translate }}</h4>
    <ul class="evidence-grid"><li *ngFor="let s of skills"><span aria-hidden="true">✓</span><div [innerHTML]="s"></div></li></ul>
    <h4>{{ 'pages.experience.backend.python.subtitle' | translate }}</h4>
    <div class="technology-tools">
        <span *ngFor="let t of tools" class="technology-tool">
          <i *ngIf="t.class" [class]="t.class" aria-hidden="true"></i>
          <img *ngIf="t.link" [ngbTooltip]="t.name" class="align-top mx-2" [src]="t.link" width="32" height="32" loading="lazy" decoding="async" [alt]="t.name"/>
          <span>{{ t.name }}</span>
        </span>
    </div>
    <div class="dependency-chips"><a *ngFor="let d of dependencies" [href]="d.link">{{ d.name }}</a></div>
</article></section>
