<section class="d-flex justify-content-center">
  <div class="nft mt-5 mb-3">
    <div class='main'>
      <div class="row">
        <div class="col-12 col-sm-5 col-md-4">
          <!-- <img class='tokenImage' src="https://images.unsplash.com/photo-1621075160523-b936ad96132a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="NFT" /> -->
          <img class='tokenImage' src="../../../../../../assets/img/me/jpbalan_square.jpg" alt="JP Balan" />
        </div>
        <div class="col-12 col-sm-7 col-md-8">
          <h2>About me</h2>
          <p class='description'>Soy una persona apasionada por la tecnología y la innovación. Con más de 10 años de experiencia en el desarrollo web, me especializo en crear soluciones digitales que ayudan a las personas y empresas a crecer y alcanzar sus objetivos.</p>
          <hr />
          <p class='description'>Me gusta estar activamente en la comunidad de desarrolladores, compartir conocimientos y aportar en proyectos open source.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="d-flex justify-content-center mx-5">
  <div class="row mt-5 mb-3">
    <div class="col-12 col-sm-12 col-md-12">
      <h2>Fuera del desarrollo</h2>
      <p class='description'>Me gusta hacer ejercicio, ver deportes, ver películas y salir con mis amigos Me gusta hacer ejercicio, ver deportes, ver películas y salir con mis amigos Me gusta hacer ejercicio, ver deportes, ver películas y salir con mis amigos Me gusta hacer ejercicio, ver deportes, ver películas y salir con mis amigos.</p>
      <hr />
      <p class='description'>Me gusta estar activamente en la comunidad de desarrolladores, compartir conocimientos y aportar en proyectos open source.</p>
    </div>
  </div>
</section>
<section class="d-flex justify-content-center mx-5">
  <div style="width:100%; max-width:1040px;">
    <app-contact-us></app-contact-us>
  </div>
</section>
<section class="d-flex justify-content-center mx-5">
  <div class="mb-5" style="width:100%; max-width:1040px;">
    <h2>Redes Sociales</h2>
    <ul class="social-links">
      <li><a href="https://github.com/jpbalan" target="_blank">GitHub</a></li>
      <li><a href="https://twitter.com/jpbalan" target="_blank">Twitter</a></li>
      <li><a href="https://linkedin.com/in/jpbalan" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</section>