<header class="bg-white shadow-sm border-bottom sticky-top z-50">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center h-100 py-2">
      <a routerLink="/" class="d-flex align-items-center text-decoration-none">
        <div class="bg-primary p-2 rounded">
          <i class="text-white fs-4">{{ 'configuration.icon' | translate }}</i>
        </div>
        <span class="fs-4 fw-bold text-dark ms-2">{{ 'configuration.name' | translate }}</span>
      </a>

      <!-- Menú de navegación para pantallas grandes -->
      <nav class="d-none d-md-flex align-items-center gap-4">
        <ng-container *ngFor="let item of navigation">
          <a [routerLink]="item.href" class="text-secondary text-decoration-none fw-medium" [ngClass]="{'text-primary fw-bold': isActive(item.href)}">
            {{ item.value }}
          </a>
        </ng-container>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary w-100 dropdown-toggle" id="languageDropdown" ngbDropdownToggle>{{ 'configuration.language.title' | translate }}</button>
          <div ngbDropdownMenu aria-labelledby="languageDropdown">
            <button class="dropdown-item" (click)="setLanguage('es')" ngbDropdownItem>{{ 'configuration.language.options.spanish' | translate }}</button>
            <button class="dropdown-item" (click)="setLanguage('en')" ngbDropdownItem>{{ 'configuration.language.options.english' | translate }}</button>
          </div>
        </div>
        <!-- <a routerLink="/contact" class="btn btn-primary w-100" (click)="isOpen = false">Get Started</a> -->
      </nav>

      <!-- Botón hamburguesa para móviles -->
      <button class="btn btn-outline-secondary d-md-none" type="button" (click)="isOpen = !isOpen" aria-label="Toggle navigation">
        <i class="bi" [ngClass]="isOpen ? 'bi-x-lg' : 'bi-list'"></i>
      </button>
    </div>

    <!-- Menú colapsable para móviles -->
    <div *ngIf="isOpen" class="d-md-none">
      <div class="bg-white border-top px-3 py-2">
        <ng-container *ngFor="let item of navigation">
          <a [routerLink]="item.href" class="d-block px-2 py-2 rounded text-decoration-none fw-medium mb-1" [ngClass]="{'text-primary bg-primary bg-opacity-10 fw-bold': isActive(item.href), 'text-secondary': !isActive(item.href)}" (click)="isOpen = false">
            {{ item.value }}
          </a>
        </ng-container>
        <!-- <a routerLink="/contact" class="btn btn-primary w-100 mt-2" (click)="isOpen = false">Get Started</a> -->
      </div>
    </div>
  </div>
</header>
