<div id="home" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 order-1 order-md-2">
        <div class="row">
          <div class="col-12 mb-4 mb-md-0">
            <div class="profile-img-wrapper mx-auto mb-4 mb-md-0">
              <img src="../../../../assets/img/me/jpbalan_square.jpg" alt="jpbalan" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 order-2 order-md-1">
        <div class="row align-items-center mb-5">
          <div class="col-12">
            <h4 class="text-danger-emphasis">{{ 'pages.introduction.title' | translate }}</h4>
          </div>
          <div class="col-10 ms-md-5">
            <h1 class="display-1">{{ 'pages.introduction.subtitle' | translate }}</h1>
          </div>
          <div class="col-12">
            <h3>{{ 'pages.introduction.description' | translate }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
