<section class="my-3 mx-md-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-decoration-underline mb-3">{{ 'pages.experience.backend.typescript.title' | translate }}</h3>
    </div>
    <div class="col-12">
      <ul><li *ngFor="let s of skills" [innerHTML]="s"></li></ul>
    </div>
    <div class="col-12">
      <p [innerHTML]="'pages.experience.backend.typescript.description' | translate"></p>
    </div>
    <div class="col-12">
      <h5 class="mb-3">{{ 'pages.experience.backend.typescript.subtitle' | translate }}</h5>
    </div>
    <div class="col-12">
      <div class="row d-flex justify-content-center text-center mb-3">
        <span *ngFor="let t of tools" class="col-3 col-sm-2 col-md-1 col-lg-1 mb-3">
          <i *ngIf="t.class" [ngbTooltip]="t.name" [class]="t.class" style="font-size: 2em;"></i>
          <img *ngIf="t.link" [ngbTooltip]="t.name" class="align-top mx-2" [src]="t.link"/>
        </span>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <ul class="row">
        <li *ngFor="let d of dependencies" class="col-6 col-sm-4 col-md-4 col-lg-4">
          <a [href]="d.link">{{ d.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</section>
