<div class="section section-introduction">
  <div id="home" class="py-5">
    <div class="container">
      <app-introduction></app-introduction>
    </div>
  </div>
</div>
<div class="section section-about-us">
  <div id="about-us" class="bg-dark-subtle">
    <div class="container">
      <app-about-us></app-about-us>
    </div>
  </div>
</div>
<div class="section section-skills-n-tools">
  <div id="skills-&-tools" class="bg-secondary-subtle">
    <div class="container">
      <app-skills-n-tools></app-skills-n-tools>
    </div>
  </div>
</div>
<div class="section section-work">
  <div id="work" class="pt-5 bg-body-tertiary">
    <div class="container">
      <app-work></app-work>
    </div>
  </div>
</div>
<div class="section section-contac-us">
  <div id="contact-us" class="bg-body">
    <div class="container">
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
