<div class="section section-introduction">
  <div id="home" class="py-5">
    <div class="container pb-5">
      <app-introduction></app-introduction>
      <div class="row">
        <div class="col-12 text-center">
          <h3 tabindex="0" (mouseenter)="focusIn = true" (mouseleave)="focusIn = false" [ngClass]="{ 'fa-beat': focusIn }">
            <a [routerLink]="'projects/about-us'">{{ 'global.readMore' | translate }}<i class="fa-solid fa-arrow-right ms-2"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-about-us">
  <div id="about-us" class="bg-dark-subtle">
    <div class="container">
      <app-about-us></app-about-us>
    </div>
  </div>
</div>
<div class="section section-skills-n-tools">
  <div id="skills-&-tools" class="bg-secondary-subtle">
    <div class="container pb-5">
      <app-skills-n-tools></app-skills-n-tools>
      <div class="row pb-5 pt-3">
        <div class="col-12 text-center">
          <h5 tabindex="0" (mouseenter)="focusIn = true" (mouseleave)="focusIn = false" [ngClass]="{ 'fa-beat': focusIn }">
            <a [routerLink]="'projects/plugins-n-tools'">{{ 'global.seeMyExperience' | translate }}<i class="fa-solid fa-arrow-right ms-2"></i></a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-work">
  <div id="work" class="pt-5 bg-body-tertiary">
    <div class="container pb-5">
      <app-work></app-work>
      <div class="row pb-5 pt-3">
        <div class="col-12 text-center">
          <h5 tabindex="0" (mouseenter)="focusIn = true" (mouseleave)="focusIn = false" [ngClass]="{ 'fa-beat': focusIn }">
            <a [routerLink]="'projects/experience'">{{ 'global.seeMyExperience' | translate }}<i class="fa-solid fa-arrow-right ms-2"></i></a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-contac-us">
  <div id="contact-us" class="bg-body">
    <div class="container">
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
