<div class="view-switch">
  <button
    type="button"
    class="view-switch-button"
    (click)="showCarousel = !showCarousel"
    [attr.aria-label]="showCarousel ? ('pages.work.timeline.title' | translate) : ('pages.work.carousel.title' | translate)">
    <i class="fa-solid" [ngClass]="showCarousel ? 'fa-timeline' : 'fa-grip'" aria-hidden="true"></i>
    {{ showCarousel ? ('pages.work.timeline.title' | translate) : ('pages.work.carousel.title' | translate) }}
  </button>
</div>
<app-timeline *ngIf="!showCarousel"></app-timeline>
<app-carousel *ngIf="showCarousel"></app-carousel>
