<div id="work" class="pt-5 bg-dark-subtle">
  <h2 class="fw-bold mb-3 text-center">{{ 'pages.work.title' | translate }}</h2>
  <section id="cd-timeline" class="container">
    <div class="cd-timeline-block z-0">
      <div class="cd-timeline-img"></div>
  
      <div class="cd-timeline-content bg-secondary-subtle">
        <h2>Banco Agromercantil (Bam)</h2>
        <div class="bg-light-subtle d-flex align-items-center rounded-3 mb-3 px-2 py-1">
          <small class="me-auto">
            <i class="fa fa-certificate me-2"></i>Frontend Developer
          </small>
          <small class="ms-auto">
            <i class="fa fa-calendar-o me-2"></i>Junio 2024 - Present
          </small>
        </div>
        <p>Desarrollo de soluciones web para banca empresas</p>
        <ul class="content-skills">
          <li class="rounded-3 bg-angular">Angular</li>
          <li class="rounded-3 bg-html">HTML5</li>
          <li class="rounded-3 bg-css3">CSS3</li>
          <li class="rounded-3 bg-typescript">TypeScript</li>
          <li class="rounded-3">Lambdas</li>
          <li class="rounded-3 bg-aws">Aws</li>
          <li class="rounded-3 bg-azure">Azure</li>
        </ul>
      </div>
    </div>

    <div class="cd-timeline-block z-0">
      <div class="cd-timeline-img"></div>
  
      <div class="cd-timeline-content bg-secondary-subtle">
        <h2>Ministerio de Desarrollo Social (MIDES)</h2>
        <div class="bg-light-subtle d-flex align-items-center rounded-3 mb-3 px-2 py-1">
          <small class="me-auto">
            <i class="fa fa-certificate me-2"></i>Frontend Developer
          </small>
          <small class="ms-auto">
            <i class="fa fa-certificate me-2"></i>Backend Developer
          </small>
        </div>
        <p>
          • Creación de proyectos. 
          • Mantenimiento de bugs. 
          • Creación de scripts para base de datos. 
          • Publicación de aplicaciones IIS.
        </p>
        <ul class="content-skills">
          <li class="rounded-3 bg-html">HTML5</li>
          <li class="rounded-3 bg-css3">CSS3</li>
          <li class="rounded-3 bg-aspnet">ASP.NET</li>
          <li class="rounded-3 bg-sqlserver">SQL Server</li>
          <li class="rounded-3 bg-javascript">JavaScript</li>
          <li class="rounded-3 bg-jquery">JQuery</li>
          <li class="rounded-3 bg-git">Git</li>
          <li class="rounded-3">Reports</li>
        </ul>
        <span class="cd-date mt-3">Jun 15, 2021 - Ene 31, 2024</span>
      </div>
    </div>
    
    <div class="cd-timeline-block z-0">
      <div class="cd-timeline-img"></div>
      
      <div class="cd-timeline-content bg-secondary-subtle">
        <h2>Universidad Rafael Landívar (URL)</h2>
        <div class="bg-light-subtle d-flex align-items-center rounded-3 mb-3 px-2 py-1">
          <small class="me-auto">
            <i class="fa fa-certificate me-2"></i>Frontend Developer
          </small>
          <small class="ms-auto">
            <i class="fa fa-certificate me-2"></i>Backend Developer
          </small>
        </div>
        <p>
          • Creación de proyectos. 
          • Mantenimiento de bugs.
          • Creación de scripts para base de datos. 
          • Manejo de sistemas financieros y administrativos.
        </p>
        <ul class="content-skills">
          <li class="rounded-3 bg-html">HTML5</li>
          <li class="rounded-3 bg-css3">CSS3</li>
          <li class="rounded-3 bg-aspnet">ASP.NET</li>
          <li class="rounded-3 bg-typescript">C#</li>
          <li class="rounded-3 bg-javascript">JavaScript</li>
          <li class="rounded-3 bg-typescript">Power Builder</li>
          <li class="rounded-3 bg-jquery">JQuery</li>
          <li class="rounded-3 bg-sqlserver">SQL Server</li>
          <li class="rounded-3 bg-git">Git</li>
          <li class="rounded-3 bg-azure">Azure</li>
        </ul>
        <span class="cd-date mt-3">May 15, 2019 - Jun 03, 2021</span>
      </div>
    </div>
  </section>
</div>

