<!-- Divider -->
<div *ngIf="item.divider" class="row navbar-vertical-label-wrapper mt-3 mb-2">
  <div class="col-auto navbar-vertical-label">{{ item.dividername }}</div>
  <div class="col ps-0">
    <hr class="mb-0 navbar-vertical-divider" />
  </div>
</div>

<!-- Simple link -->
<a *ngIf="item.type === 'link'" class="nav-link py-1" [routerLink]="item.path" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" (click)="item.events.click ? executeFunction(item.events.click) : null; hideMenu(!showMenu);">
  <div class="d-flex align-items-center text-secondary-emphasis">
    <span *ngIf="item.icon" class="nav-link-icon">
      <span [class]="'me-2 ' + item.icon"></span>
    </span>
    <span class="nav-link-text ps-1"><small>{{ item.label }}</small></span>
    <span *ngIf="item.newLabel" [class]="'badge rounded-pill ms-2 ms-auto ' + item.newStyle"><small>{{ item.newLabel }}</small></span>
  </div>
</a>

<!-- Submenu -->
<button *ngIf="item.children?.length" type="button" class="nav-link dropdown-indicator w-100 border-0 bg-transparent text-start" [attr.aria-expanded]="item.expanded" (click)="item.expanded = !item.expanded;">
  <div class="d-flex align-items-center text-secondary-emphasis">
    <span *ngIf="item.icon" class="nav-link-icon">
      <span [class]="'me-2 ' + item.icon"></span>
    </span>
    <span class="nav-link-text ps-1"><small>{{ item.label }}</small></span>
    <span *ngIf="item.newLabel" [class]="'badge rounded-pill ms-2 ms-auto ' + item.newStyle"><small>{{ item.newLabel }}</small></span>
    <span [class]="item.expanded ? 'ms-1 fa-solid float-end fa-chevron-up' : 'ms-1 fa-solid float-end fa-chevron-down'"></span>
  </div>
</button>

<!-- Renders the children -->
<ul [class]="item.expanded ? 'nav collapse flex-column ms-3 show' : 'nav collapse flex-column ms-3'">
  <li class="nav-item" *ngFor="let child of item.children">
    <app-menu-item [item]="child" (isOpen)="hideMenu($event)"></app-menu-item>
  </li>
</ul>
