/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as *;

header {
  background: rgba(240, 239, 239, 0.6) !important;
  backdrop-filter: blur(3px);
  transition: background 0.3s;
}

body[data-bs-theme="dark"] header {
  background: rgba(30, 30, 30, 0.7) !important;
  color: #fff;
}

.dropdown-menu {
  background-color: rgba(240, 239, 239, 0.6) !important;
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px) !important;
  transition: background 0.3s;
}

body[data-bs-theme="dark"] .dropdown-menu {
  background: rgba(30, 30, 30, 0.7) !important;
  color: #fff !important;
}