/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap' as *;

/* Estilos claros */
app-landing-navbar-top > header,
app-navbar-top > header,
app-navbar-vertical > nav,
.dropdown-menu {
  background: rgba(240, 239, 239, 0.6) !important;
  backdrop-filter: blur(3px);
  transition: background 0.3s;
  -webkit-backdrop-filter: blur(3px);
}

/* Estilos oscuros */
body[data-bs-theme="dark"] {
  app-landing-navbar-top > header,
  app-navbar-top > header,
  app-navbar-vertical > nav,
  .dropdown-menu {
    background: rgba(30, 30, 30, 0.7) !important;
    color: #fff !important;
  }
}
