
<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
          
<div id="skills-&-tools" class="py-5 bg-success-subtle">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="fw-bold mb-3">{{ 'pages.skillsNTools.title' | translate }}</h2>
        <p class="lead text-secondary">{{ 'pages.skillsNTools.description' | translate }}</p>
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-html5-plain bg-html" style="font-size: 6em;"></i></p>
        <small class="text-secondary">HTML5</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-css3-plain bg-css3" style="font-size: 6em;"></i></p>
        <small class="text-secondary">CSS3</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-sass-original bg-sass" style="font-size: 6em;"></i></p>
        <small class="text-secondary">SASS</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-angularjs-plain bg-angular" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Angular</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-react-original bg-react" style="font-size: 6em;"></i></p>
        <small class="text-secondary">React</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-visualstudio-plain bg-aspnet" style="font-size: 6em;"></i></p>
        <small class="text-secondary">ASP.NET</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-javascript-plain bg-javascript" style="font-size: 6em;"></i></p>
        <small class="text-secondary">JavaScript</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-typescript-plain bg-typescript" style="font-size: 6em;"></i></p>
        <small class="text-secondary">TypeScript</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"/>
          <!-- <i class="devicon-python-plain bg-python" style="font-size: 6em;"></i> -->
        </p>
        <small class="text-secondary">Python</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-php-plain bg-php" style="font-size: 6em;"></i></p>
        <small class="text-secondary">PHP</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-java-plain bg-java" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Java</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-csharp-plain bg-csharp" style="font-size: 6em;"></i></p>
        <small class="text-secondary">C#</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-visualbasic-plain bg-visualbasic" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Visual Basic</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-microsoftsqlserver-plain bg-sqlserver" style="font-size: 6em;"></i></p>
        <p class="mb-0"><small class="text-secondary">Microsoft</small></p>
        <small class="text-secondary">SQL Server</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-mysql-original bg-mysql" style="font-size: 6em;"></i></p>
        <small class="text-secondary">MySQL</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-oracle-original bg-oracle" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Oracle</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-mongodb-plain bg-mongodb" style="font-size: 6em;"></i></p>
        <small class="text-secondary">MongoDB</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-mariadb-original bg-mariadb" style="font-size: 6em;"></i></p>
        <small class="text-secondary">MariaDB</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-postgresql-plain bg-postgresql" style="font-size: 6em;"></i></p>
        <small class="text-secondary">PostgreSQL</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-firebase-plain bg-firebase" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Firebase</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-jquery-plain bg-jquery" style="font-size: 6em;"></i></p>
        <small class="text-secondary">jQuery</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-git-plain bg-git" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Git</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-bootstrap-plain bg-bootstrap" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Bootstrap</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-amazonwebservices-plain-wordmark bg-aws" style="font-size: 6em;"></i></p>
        <small class="text-secondary">AWS</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-azure-plain bg-azure" style="font-size: 6em;"></i></p>
        <small class="text-secondary">Azure</small>
      </div>
      <div class="col-4 col-sm-3 col-md-2 mb-3">
        <p class="mb-0"><i class="devicon-azuredevops-plain bg-devops" style="font-size: 6em;"></i></p>
        <small class="text-secondary">DevOps</small>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <p class="lead text-center text-secondary">{{ 'pages.skillsNTools.descriptionbottom' | translate }}</p>
      </div>
    </div>
  </div>
</div>
